#head{color: aqua;background: black;}
#Title{color: violet;background: black;}
a{color: black;font-size: 4rem;}
#text1{color: blue;font-size: 1.5rem;}
p{font-family:monospace;line-height: 1.5em;}
div{color: rgb(22, 22, 173); border: 3px solid rgb(0, 0, 0);}
